body {
  font-family: sans-serif;
}

table {
  border: 1px solid black;
}

thead {
  border: 1px solid black;
}

td {
  border: 1px solid black;
}

.current {
  background-color: brown;
}

.container {
  background-color: ghostwhite;
  border: 1px solid black;
}
